@inherits LayoutComponentBase

<div id="navigational-bar" class="sidebar" style="background: #9b00fc;">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4 h-100">
        @Body
    </div>
</div>
